<div ="nested_partial">
  <fieldset>
    <legend>Device Problem</legend>
    <p>
      <b>Device problem:</b>
      <%= device_problem.device_problem %>
    </p>

    <p>
      <b>Comment:</b>
      <%= device_problem.comment %>
    </p>

    <p>
      <b>Device problem status:</b>
      <%= device_problem.device_problem_status.device_problem_status %>
    </p>
  </fieldset>
</div>
