<p id="notice"><%= notice %></p>

<p>
  <b>Device carrier:</b>
  <%= @device_carrier.device_carrier %>
</p>


<%= link_to 'Edit', edit_device_carrier_path(@device_carrier) %> |
<%= link_to 'Back', device_carriers_path %>
