<p>
  <b>Device problem status:</b>
  <%= @device_problem_status.device_problem_status %>
</p>


<%= link_to 'Edit', edit_device_problem_status_path(@device_problem_status) %> |
<%= link_to 'Back', device_problem_statuses_path %>
