// Place all the styles related to the Devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr .lead {
  background-color:#c3c3c3;
  color:#FFFFFF
}

tr .odd {
  background-color:#c3c3c3
}

tr .even {
  background-color:#FFFFFF
}
